body {
  font-family: 'lato', serif;
}

.content {
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  padding: 15px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

.preview {
  text-align: left;
}

div {
  margin: 0 0 1em 0;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

input {
  padding: 5px;
  width: 600px;
  margin: 3px;
}

button {
  background-color: #999;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  color: #fff;
  width: 150px;
}

button:hover {
  background-color: #333;
}

textarea {
  width: 600px;
  vertical-align: top;
  margin: 3px;
}